
@{
    ViewBag.Title = "Index";
}
<head>
    <h2>Index</h2>
    @Html.ActionLink("Products", "Index", "Products", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Suppliers", "Index", "Suppliers", null, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "btn btn-success" })
</head>

<body>
    <div>

    </div>
</body>